/*Fonts*/

/*font-family: 'Monda', sans-serif;
font-family: 'Montserrat', sans-serif;*/

/* Reset */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}



.body {
	font-family: 'Raleway', sans-serif;
	font-size: 14px
}

*,
:before,
:after {
	box-sizing: border-box;
}

/* Button */
.button {
	background: transparent;
	border: none;
}

.button:hover {
	cursor: pointer;
}

.button__more {
	margin: 0 auto;
	padding: 4px;
	background-color: rgb(17, 41, 47);
	color: white;
}

/* Container */

.container {
	margin: 0 auto;
	width: 100%;
	max-width: 1330px;
}

.main {
	display: flex;
	justify-content: space-around;
}

/* Headers */

.header {
	position: fixed;
	padding: 0px 5px;
	width: 100%;

	background: rgba(17, 41, 47, 0.7);
	font-family: 'Montserrat';
	font-size: 15px;
	z-index: 100;
}

.header:hover {
	background: rgba(17, 41, 47, 1);
}

.header__inner {
	padding: 5px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.header__logo {
	display: flex;
	justify-content: center;
	width: 5%;
}

.logo_svg {
}

.nav {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 20%;
}

.nav__link {
	text-decoration: none;

	font-family: Montserrat;
	font-style: normal;
	font-weight: bold;
	font-size: 13px;
	line-height: 24px;
	letter-spacing: 0.1em;

	color: #FFFFFF;
}

.nav__link:hover {
	text-decoration: underline;
}

.header__info {
	display: flex;
	align-items: center;
	width: 30%;
}

.search__box {
	padding: 0 10px;
	width: 100%;
}

.search__box__input{
	width: 100%;
	border: 1px solid white;
	background-color: transparent;
}

.header__socialmedia{
	display: flex;
	align-items: center;
	width: 8%;	
}

.header__socialmedia__link {
	padding: 0 10px;
}

.header__svg {
	width: 20px;
}


.header__svg:hover {
}

.header__inner__lang {
	display: flex;
	justify-content: space-between;	
	align-items: center;
}

.header__inner__lang_sign {
	color: white;
}

/* Intro */
.intro {
	padding-top: 50px;
	display: flex;
	align-items: center;
	background-color: #121C2C;
}

.intro__background {
	position: relative;
	width: 100%;
	/*height: 100%;*/
}

/* Feed */

.best__articles {
	width: 80%;
	max-width: 1500px;

	margin-top: 50px;
	margin-bottom: 50px;
}

.best__articles__wrap {
	display: grid;
	width: 100%;
	grid-template-columns: 1fr 1fr 1fr;
	grid-auto-rows: 90px;

	grid-gap: 10px;
}

.best__article {
	position: relative;
	background-color: #0e1223;
	overflow: hidden;
	z-index: 1;
}

.article__header {
	max-width: 500px;
	padding: 20px 20px;
	z-index: 1;
}

.article__image {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate3d(-50%, -50%, 0);
	z-index: -1;
}

.article__title__wrap {
	margin-bottom: 20px;
	padding: 10px 20px;
	background-color: rgba(17, 41, 47, 0.8);
}

.article__title {
	font-family: 'Monda', sans-serif;
	font-size: 30px;
	color: white;
	text-decoration: none;
	text-transform: uppercase;
}

.article__content__wrap {
	padding: 10px 20px;
	background-color: rgba(255, 255, 255, 0.8);
}

.article__content {
	font-family: 'Montserrat', sans-serif;
	color: #11292F;
}

.best__article-1 {
	grid-column-start: 1;
	grid-column-end: 2;

	grid-row-start: 1;
	grid-row-end: 5;
}

.best__article-2 {
	grid-column-start: 2;
	grid-column-end: 4;

	grid-row-start: 1;
	grid-row-end: 5;
}

.best__article-3 {
	grid-column-start: 1;
	grid-column-end: 3;

	grid-row-start: 5;
	grid-row-end: 11;
}

.best__article-4 {
	grid-column-start: 3;
	grid-column-end: 4;

	grid-row-start: 5;
	grid-row-end: 11;
}


.best__article-5 {
	grid-column-start: 1;
	grid-column-end: 3;

	grid-row-start: 11;
	grid-row-end: 15;
}

.best__article-6 {
	grid-column-start: 3;
	grid-column-end: 4;

	grid-row-start: 11;
	grid-row-end: 15;
}

.best__article-7 {
	grid-column-start: 1;
	grid-column-end: 2;

	grid-row-start: 15;
	grid-row-end: 19;
}

.best__article-8 {
	grid-column-start: 2;
	grid-column-end: 4;

	grid-row-start: 15;
	grid-row-end: 21;
}

.best__article-9 {
	grid-column-start: 1;
	grid-column-end: 2;

	grid-row-start: 19;
	grid-row-end: 25;
}

.best__article-10 {
	grid-column-start: 2;
	grid-column-end: 4;

	grid-row-start: 21;
	grid-row-end: 25;
}

.article__title:before {
    position: absolute;
    bottom: 0;
    left: 0;
    top: 0;
    right: 0;
    content: "";
    overflow: hidden;
    z-index: 1;
}

/* Articles feed */

.articles {
	margin-top: 200px;
}

.articles__wrap {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-auto-rows: 500px;
	grid-gap: 10px;

}

/* Aside */

.aside {
	width: 15%;
	max-width: 300px;
	height: 800px;
}

/* Footer */

.footer {
	font-family: Open Sans;
	font-style: normal;
	font-weight: bold;
	font-size: 13px;
	line-height: 25px;
}

.footer__svg {
	position: relative;
	top: 20px;
	width: 100%;
}

.footer__wrap {
	background-color: #121C2C;
}

.footer__inner {
	padding-top: 30px;
	width: 100%;

	display: flex;
}

.footer__logo {
	width: 30%;
	padding: 15px;
}

.footer__svg {
	height: 100%;
}

.footer__copywriting {
	padding-top: 40px;
}

.copywriting__text {
	text-decoration: none;
	color: white;

	font-family: Montserrat;
	font-size: 10px;
	font-style: normal;
	font-weight: bold;
	line-height: 20px;
	letter-spacing: 0.01em;
}

.footer__nav {
	margin-left: 100px;
	width: 69%;

	display: flex;
	justify-content: center;
	flex-wrap: wrap;
}

.footer__item {
	width: 33.3333333%;

}


.footer__title {
	margin-bottom: 10px;

	width: 100%;
	font-size: 14px;
	text-decoration: none;
	color: white;

	font-family: Montserrat;
	font-style: normal;
	font-weight: bold;
	line-height: 20px;
	letter-spacing: 0.01em;

}

.footer__link {
	margin-top: 4px;

	text-decoration: none;
	font-size: 14px;
	color: white;
	margin-bottom: 10px;
}

.footer__link:hover {
	text-decoration: underline;
}

.footer__signup {
	width: 100%;
	display: flex;
	align-items: center;
}

.signup {
	width: 100%;
}

.footer__input {
	padding: 4px;
	width: 50%;

	background-color: #121C2C;
	border: 1px solid white;
	border-radius: 1px;

	font-family: Open Sans;
	font-style: normal;
	font-weight: bold;
	font-size: 12px;
	line-height: 23px;

	color: rgba(255, 255, 255, 0.5);

}

.footer__input:focus {
	/*background-color: white;*/
	color: black;
}

.button__submit {
	position: relative;	
	width: 5%;

	top: .1em;
	right: 4em;
}

.arrow {
	fill: white;
}

.footer__input:hover ~ .arrow {
	fill: red;
}

