/*Fonts*/

/*font-family: 'Monda', sans-serif;
font-family: 'Montserrat', sans-serif;*/

/* Reset */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}



.body {
	font-family: 'Raleway', sans-serif;
	font-size: 14px
}

*,
:before,
:after {
	box-sizing: border-box;
}

/* Button */
.button {
	background: transparent;
	border: none;
}


/* Container */

.container {
	width: 100%;
	max-width: 1270px;
	margin: 0 auto;
}

/* Headers */

.header {
	position: absolute;
	padding: 2px 15px;
	width: 100%;

	background: rgba(17, 41, 47, 0.7);
	font-family: 'Montserrat';
	font-size: 15px;
	z-index: 1;
}

.header__inner {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.header__logo {
	width: 5%;
}

.logo_svg {
	height: 100%;
}

.nav {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 20%;
}

.nav__link {
	color: #FFF;
	text-decoration: none;
}

.nav__link:hover {
	text-decoration: underline;
}

.header__info {
	display: flex;
	align-items: center;
	width: 30%;
}

.search__box {
	padding: 0 10px;
	width: 100%;
}

.search__box__input{
	width: 100%;
}

.header__socialmedia{
	display: flex;
	align-items: center;
	width: 8%;	
}

.header__socialmedia__link {
	padding: 0 10px;
}

.header__svg {
	width: 18px;
}

.header__inner__lang {
	display: flex;
	justify-content: space-between;	
	align-items: center;
}

.header__inner__lang_sign {
	color: white;
}

/* Intro */
.intro {
	position: relative;
	padding: auto;
	height: 35vh;
	min-height: 200px;
	display: flex;
	justify-content: space-around;
	align-items: center;
	background-color: #0e1223;
	overflow: hidden;
/*	background-image: url("https://images.unsplash.com/photo-1477346611705-65d1883cee1e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=750&q=80");
	background-repeat: no-repeat;*/

}

.intro__backgroud {
	position: absolute;
	width: 100%;
	top: 50%;
	left: 50%;
	transform: translate3d(-50%, -50%, 0);
}

.intro__title {
	position: absolute;
	text-transform: capitalize;	
	font-size: 40px;
	color: white;
	font-family: 'Monda', sans-serif;
}

/* Best articles */

.best__articles__wrap {
	display: grid;
	padding: 50px 5px 5px 5px;
	width: 100%;
	grid-template-columns: 1fr 1fr 1fr;
	grid-auto-rows: 90px;

	grid-gap: 10px;
}

.best__article {
	position: relative;
	background-color: #0e1223;
	overflow: hidden;
	z-index: 1;
}

.article__header {
	position: absolute;
	max-width: 500px;
	padding: 20px 20px;
}

.article__image {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate3d(-50%, -50%, 0);
}

.article__title__wrap {
	margin-bottom: 20px;
	padding: 10px 20px;
	background-color: rgba(17, 41, 47, 0.8);
}

.article__title {
	font-family: 'Monda', sans-serif;
	font-size: 30px;
	color: white;
	text-decoration: none;
	text-transform: uppercase;
}

.article__content__wrap {
	padding: 10px 20px;
	background-color: rgba(255, 255, 255, 0.8);
}

.article__content {
	font-family: 'Montserrat', sans-serif;
	color: #11292F;
}

.best__article-1 {
	grid-column-start: 1;
	grid-column-end: 2;

	grid-row-start: 1;
	grid-row-end: 5;
}

.best__article-2 {
	grid-column-start: 2;
	grid-column-end: 4;

	grid-row-start: 1;
	grid-row-end: 5;
}

.best__article-3 {
	grid-column-start: 1;
	grid-column-end: 3;

	grid-row-start: 5;
	grid-row-end: 11;
}

.best__article-4 {
	grid-column-start: 3;
	grid-column-end: 4;

	grid-row-start: 5;
	grid-row-end: 11;
}


.best__article-5 {
	grid-column-start: 1;
	grid-column-end: 3;

	grid-row-start: 11;
	grid-row-end: 15;
}

.best__article-6 {
	grid-column-start: 3;
	grid-column-end: 4;

	grid-row-start: 11;
	grid-row-end: 15;
}

.best__article-7 {
	grid-column-start: 1;
	grid-column-end: 2;

	grid-row-start: 15;
	grid-row-end: 19;
}

.best__article-8 {
	grid-column-start: 2;
	grid-column-end: 4;

	grid-row-start: 15;
	grid-row-end: 21;
}

.best__article-9 {
	grid-column-start: 1;
	grid-column-end: 2;

	grid-row-start: 19;
	grid-row-end: 25;
}

.best__article-10 {
	grid-column-start: 2;
	grid-column-end: 4;

	grid-row-start: 21;
	grid-row-end: 25;
}

.article__title::after {
	position: absolute;
	left: 0;
	right: 0;
	height: 500px;
	width: 500px;
}